// основные цвета дизайна
$color-palette-base:      #F7FFF7;
$color-palette-dark:      #1A535C;
$color-palette-light:     #4ECDC4;
$color-palette-highlight: #FF6B6B;
$color-palette-warning:   #FFE66D;
