<div class="col-md-12 b-auth" *ngIf="user.loggedIn">
  <div class="col-md-8 offset-md-2">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownAuth" ngbDropdownToggle>{{ user.username }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownAuth">
        <button class="dropdown-item" (click)="logout()">Выйти</button>
      </div>
    </div>
  </div>
</div>
